@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

#startquiz {
    display: none;
}

#return-answer {
    display: none;
}

.correct {
    color: #28a746;
    text-align: center;
}

.wrong {
    color: #dd3546;
    text-align: center;
}

.footer-font {
    font-size: 12px;
}

.footer-margin {
    height: 48px;
}